.filter-button {
    background: #696969;
    border: none;
    padding: 5px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25), -3px -3px 6px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    outline: none;
    transition: all 100ms ease;
    color: rgb(245, 243, 243);
}
.active {
    background: rgb(65, 65, 65);
    color:whitesmoke
}

h4 {
    text-align: center;
    margin-bottom: 5px;
}
.filter-button:active {
    background: #696969;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.25), -1px -1px 3px 0 rgba(255, 255, 255, 0.3);

}
.filters, .filter-constainer{
    height: 450px;
    width: 200px;
    background: #696969;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    color: rgb(245, 243, 243);
  }
  .filters {
    box-shadow: 5px 5px 7px rgb(53, 53, 53)
  }
  .filter-constainer {
    background: none;
  }
  .filter-btns{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 200px;
      place-items: center;
  }
  .filter-btns button{
      margin: 5px;
  }
  .label {
      padding-left: 5px;
      margin-bottom: 3px;
      text-align: center;
      width: 100%;
  }